<template>
  <div>
    <b-nav vertical class="w-30">
      <!-- <b-nav-item><router-link to="/home">Home</router-link></b-nav-item> -->
      <b-nav-item><router-link to="/resume">Resume</router-link></b-nav-item>
      <b-nav-item><router-link to="/postjob">Post Job</router-link></b-nav-item>
      <b-nav-item><router-link to="/company">Company</router-link></b-nav-item>
      <b-nav-item><router-link to="/selResume">Select Resume</router-link></b-nav-item>
      <b-nav-item
        ><router-link to="/jobdetails/">Job Details</router-link></b-nav-item
      >
      <b-nav-item><router-link to="/findjob">Find Job</router-link></b-nav-item>
      <b-nav-item
        ><router-link to="/applicant">Applicant</router-link></b-nav-item
      >
      <b-nav-item
        ><router-link to="/companyapply">Company Apply</router-link></b-nav-item
      >
    </b-nav>
  </div>
</template>

<style>
div .col-2 {
  width: 100%;
  background-color: #f1faee;
  height: 150vh;
}
.w-30 a {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2.5px;
  line-height: 2;
}
.w-30 :hover {
  color: #afafaf;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
}
</style>
