<template>
  <div class="container">
    <div class="row">
      <div class="col p-3 my-3 border">
        <p class="h2 text-center mb-4">สมัครสมาชิกสำหรับผู้สมัครงาน</p>
        <!-- <b-modal id="modal-form-resume" ref="modal-form-resume"> -->
        <div id="modal-form-applicant">
          <form class="row" ref="form" @submit.stop.prevent="handleSubmit">
            <div class="col-md-3">
              <b-form-group
                id="input-group-1"
                label="ชื่อผู้ใช้"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.username"
                  type="text"
                  :invalid-feedback="invalidFeedbackUserName"
                  :valid-feedback="validFeedbackUserName"
                  :state="stateUserName"
                  required
                  placeholder="ชื่อผู้ใช้"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-2"
                label="อีเมล"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  v-model="form.email"
                  type="text"
                  :invalid-feedback="invalidFeedbackEmail"
                  :valid-feedback="validFeedbackEmail"
                  :state="stateEmail"
                  required
                  placeholder="อีเมล"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-3"
                label="รหัสผ่าน"
                label-for="input-3"
              >
                <b-form-input
                  id="input-3"
                  v-model="form.password"
                  type="password"
                  :invalid-feedback="invalidFeedbackPassword"
                  :valid-feedback="validFeedbackSurPassword"
                  :state="statePassword"
                  required
                  placeholder="รหัสผ่าน"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-4"
                label="ยืนยันอีเมล"
                label-for="input-4"
              >
                <b-form-input
                  id="input-4"
                  v-model="form.confirm_email"
                  type="text"
                  :invalid-feedback="invalidFeedbackConfirmEmail"
                  :valid-feedback="validFeedbackConfirmEmail"
                  :state="stateConfirmEmail"
                  required
                  placeholder="ยืนยันอีเมล"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-5"
                label="ยืนยันรหัสผ่าน"
                label-for="input-5"
              >
                <b-form-input
                  id="input-5"
                  v-model="form.confirm_password"
                  type="password"
                  :invalid-feedback="invalidFeedbackConfirmPass"
                  :valid-feedback="validFeedbackConfirmPass"
                  :state="stateConfirmPass"
                  required
                  placeholder="ยืนยันรหัสผ่าน"
                ></b-form-input>
              </b-form-group>
            </div>
            <br />
            <div class="col-md-8"></div>
            <div class="col-md-12">
              <div class="text-center mt-4">
                <button
                  class="btn btn-success"
                  type="submit"
                  @click="onsubmit()"
                >
                  สมัครสมาชิก</button
                >&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-light" type="submit" @click="clear()">
                  ยกเลิก
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
    <b-table striped hover :items="applicantList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editApplicant(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delApplicant(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
//
export default {
  data () {
    return {
      form: {
        _id: '',
        username: '',
        email: '',
        password: '',
        confirm_email: '',
        confirm_password: ''
      },
      applicantList: [],
      fields: ['email', 'password', 'Operation']
    }
  },
  methods: {
    addNewApplicant () {
      console.log('Add new applicant')
      // this.$bvModal.show('modal-form-resume')
    },
    editApplicant (applicant) {
      console.log('Edit')
      console.log(applicant)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...applicant }
      // this.$bvModal.show('modal-form-resume')
    },
    delApplicant (applicant) {
      console.log('Del')
      console.log(applicant)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + applicant.username + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/applicant/' + applicant._id)
              .then(res => {
                console.log(res)
                this.getApplicant()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    clear () {
      this.form = {
        _id: '',
        username: '',
        email: '',
        password: '',
        confirm_email: '',
        confirm_password: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateUserName === false ||
        this.stateEmail === false ||
        this.statePassword === false ||
        this.stateConfirmEmail === false ||
        this.stateConfirmPass === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/applicant/', this.form)
          .then(res => {
            console.log(res)
            this.getApplicant()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/applicant/', this.form)
          .then(res => {
            console.log(res)
            this.getApplicant()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-applicant')
      })
    },
    getApplicant () {
      axios
        .get('http://localhost:3000/applicant')
        .then(res => {
          console.log(res)
          this.applicantList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateUserName () {
      return this.form.username.length >= 2
    },
    invalidFeedbackUserName () {
      if (this.form.username.length > 2) {
        return ''
      } else if (this.form.username.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackUserName () {
      return this.stateUserName === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 2) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    statePassword () {
      return this.form.password.length >= 2
    },
    invalidFeedbackPassword () {
      if (this.form.password.length === 0) {
        return ''
      } else if (this.form.password.length >= 8) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackPassword () {
      return this.password.length >= 8 && this.password.length <= 20
        ? 'สำเร็จ'
        : ''
    },
    stateConfirmEmail () {
      return this.form.confirm_email.length >= 2
    },
    invalidFeedbackConfirmEmail () {
      if (this.form.confirm_email.length > 2) {
        return ''
      } else if (this.form.confirm_email.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackConfirmEmail () {
      return this.stateConfirmEmail === true ? 'สำเร็จ' : ''
    },
    stateConfirmPass () {
      return this.form.confirm_password.length >= 2
    },
    invalidFeedbackConfirmPass () {
      if (this.form.confirm_password.length > 2) {
        return ''
      } else if (this.form.confirm_password.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackConfirmPass () {
      return this.stateConfirmPass === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getApplicant()
  }
}
</script>
