<template>
  <font size="3">
    <b-container>
      <b-card id="card">
        <p class="pt-4" id="header">
          <b-card-title><font size="10">ประกาศงาน</font></b-card-title>
        </p>
        <!-- <h1>your id is {{ test }}</h1> -->
        <form>
          <b-card-body>
            <p style="color:red;">
              <font size="5">กรุณากรอกรายละเอียดทุกช่องที่มีเครื่องหมาย *</font>
            </p>
            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-1"
                  label="หมวดหมู่งาน * : "
                  label-cols-sm="3"
                  label-for="classification"
                >
                  <b-form-select
                    id="classification"
                    v-model="form.classification"
                    :options="classification"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกหมวดหมู่งาน --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group
                  id="input-group-2"
                  label="ประเภทงาน * : "
                  label-cols-sm="3"
                  label-for="category"
                >
                  <b-form-select
                    id="category"
                    v-model="form.category"
                    :options="category"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกประเภทงาน --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-3"
                  label="ตำแหน่ง * : "
                  label-cols-sm="3"
                  label-for="position"
                >
                  <b-form-input
                    id="position"
                    size="md"
                    placeholder="กรอกตำแหน่ง"
                    v-model="form.position"
                    required
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <p style="color:red;">
                  <font size="4"
                    >ควรระบุชื่อตำแหน่งงาน เช่น เจ้าหน้าที่
                    ไม่ควรมีคำว่าด่วนต่อท้าย เพื่อระบบ Matching
                    ที่แม่นยำมากยิ่งขึ้น</font
                  >
                </p>
              </b-col>
            </b-row>
            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-4"
                  label="อัตราที่รับ * : "
                  label-cols-sm="3"
                  label-for="rate"
                >
                  <b-form-select
                    id="rate"
                    v-model="form.rate"
                    :options="rate"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกอัตรา --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <div>
                  <b-form-group
                    id="input-group-5"
                    label="วันหยุด : "
                    label-cols-sm="3"
                    label-for="restDay"
                    v-slot="{ ariaDescribedby }"
                  >
                    <b-form-checkbox-group
                      id="restDay"
                      v-model="form.restDay"
                      :options="restDay"
                      :aria-describedby="ariaDescribedby"
                      name="flavour-2"
                    >
                    </b-form-checkbox-group>
                  </b-form-group>
                </div>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-6"
                  label="เวลาเข้า * : "
                  label-cols-sm="3"
                  label-for="timeIn"
                >
                  <b-form-select
                    id="timeIn"
                    v-model="form.timeIn"
                    :options="timeIn"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกเวลาเข้างาน --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group
                  id="input-group-7"
                  label="เวลาออก * : "
                  label-cols-sm="3"
                  label-for="timeOut"
                >
                  <b-form-select
                    id="timeOut"
                    v-model="form.timeOut"
                    :options="timeOut"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกเวลาออกงาน --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-8"
                  label="เวลาทำงานอื่นๆ : "
                  label-cols-sm="3"
                  label-for="otherTime"
                >
                  <b-form-input
                    id="otherTime"
                    size="md"
                    placeholder="กรอกเวลาทำงานอื่นๆ"
                    v-model="form.otherTime"
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="7">
                <b-form-group
                  id="input-group-9"
                  label="เงินเดือนเริ่มต้น * : "
                  label-cols-sm="3"
                  label-for="moneyStart"
                >
                  <b-form-input
                    id="moneyStart"
                    size="md"
                    placeholder="กรอกจำนวนเงินเดือนเริ่มต้น"
                    v-model="form.moneyStart"
                    required
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="5">
                <b-form-group
                  id="input-group-10"
                  label="เงินเดือนสูงสุด"
                  label-cols-sm="3"
                  label-for="moneyEnd"
                >
                  <b-form-input
                    id="moneyEnd"
                    size="md"
                    placeholder="กรอกจำนวนเงินเดือนสูงสุด"
                    v-model="form.moneyEnd"
                    required
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>
            </b-row>

            <p style="color:red;">
              <font size="5">สถานที่ปฏิบัติงาน</font>
            </p>

            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-11"
                  label="จังหวัด * : "
                  label-cols-sm="3"
                  label-for="province"
                >
                  <b-form-select
                    id="province"
                    v-model="form.province"
                    :options="province"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกจังหวัด --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group
                  id="input-group-12"
                  label="อำเภอ/เขต : "
                  label-cols-sm="3"
                  label-for="district"
                >
                  <b-form-select
                    id="district"
                    v-model="form.district"
                    :options="district"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกอำเภอ --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <p style="color:red;">
              <font size="5">รายละเอียดงาน</font>
            </p>

            <b-row class="my-3">
              <b-col sm="7">
                <b-form-group
                  id="input-group-13"
                  label="หน้าที่รับผิดชอบ * : "
                  label-cols-sm="3"
                  label-for="workDetail"
                >
                  <b-form-textarea
                    id="workDetail"
                    size="md"
                    placeholder="เช่น 1. ออกแบบผลิตภัณฑ์ ฯลฯ"
                    v-model="form.workDetail"
                    required
                  >
                  </b-form-textarea>
                </b-form-group>
              </b-col>

              <b-col sm="5">
                <b-form-group
                  id="input-group-14"
                  label="สวัสดิการ * : "
                  label-cols-sm="3"
                  label-for="welfare"
                >
                  <b-form-select
                    id="welfare"
                    v-model="form.welfare"
                    :options="welfare"
                    required
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- กรุณาเลือกสวัสดิการ --
                      </b-form-select-option>
                    </template>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="7">
                <b-form-group
                  id="input-group-15"
                  label="สวัสดิการอื่นๆ * : "
                  label-cols-sm="3"
                  label-for="otherWelfare"
                >
                  <b-form-textarea
                    id="otherWelfare"
                    size="md"
                    placeholder="เช่น เบี้ยขยัน ฯลฯ"
                    v-model="form.otherWelfare"
                    required
                  >
                  </b-form-textarea>
                </b-form-group>
              </b-col>
            </b-row>

            <p style="color:red;">
              <font size="5">คุณสมบัติผู้สมัคร</font>
            </p>

            <b-row class="my-3">
              <b-col sm="4">
                <div>
                  <b-form-group
                    id="input-group-16"
                    label="เพศ * : "
                    label-cols-sm="3"
                    label-for="gender"
                    v-slot="{ ariaDescribedby }"
                  >
                    <b-form-checkbox-group
                      id="gender"
                      v-model="form.gender"
                      :options="gender"
                      :aria-describedby="ariaDescribedby"
                    >
                    </b-form-checkbox-group>
                  </b-form-group>
                </div>
              </b-col>

              <b-col sm="4">
                <div>
                  <b-form-group
                    id="input-group-17"
                    label="อายุ * : "
                    label-cols-sm="3"
                    label-for="ageMin"
                  >
                    <b-form-input
                      id="ageMin"
                      size="md"
                      placeholder="กรอกอายุขั้นต่ำ"
                      v-model="form.ageMin"
                      required
                    >
                    </b-form-input>
                  </b-form-group>
                </div>
              </b-col>

              <b-col sm="4">
                <div>
                  <b-form-group
                    id="input-group-18"
                    label="สูงสุด "
                    label-cols-sm="3"
                    label-for="ageMax"
                  >
                    <b-form-input
                      id="ageMax"
                      size="md"
                      placeholder="กรอกอายุสูงสุด"
                      v-model="form.ageMax"
                      required
                    >
                    </b-form-input>
                  </b-form-group>
                </div>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="6">
                <div>
                  <b-form-group
                    id="input-group-19"
                    label="ระดับการศึกษา * : "
                    label-cols-sm="3"
                    label-for="education"
                    v-slot="{ ariaDescribedby }"
                  >
                    <b-form-checkbox-group
                      id="education"
                      v-model="form.education"
                      :options="education"
                      :aria-describedby="ariaDescribedby"
                    >
                    </b-form-checkbox-group>
                  </b-form-group>
                </div>
              </b-col>

              <b-col sm="6">
                <div>
                  <b-form-group
                    id="input-group-20"
                    label="ประสบการณ์การทำงาน * : "
                    label-cols-sm="3"
                    label-for="experience"
                  >
                    <b-form-input
                      id="experience"
                      size="md"
                      placeholder="กรอกประสบการณ์ทำงาน"
                      v-model="form.experience"
                      required
                    >
                    </b-form-input>
                  </b-form-group>
                </div>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="7">
                <b-form-group
                  id="input-group-21"
                  label="คุณสมบัติอื่นๆ * : "
                  label-cols-sm="3"
                  label-for="otherProperty"
                >
                  <b-form-textarea
                    id="otherProperty"
                    size="md"
                    placeholder="เช่น สามารถใช้คอมพิวเตอร์เพื่อการออกแบบกราฟฟิคได้เป็นอย่างดี ฯลฯ"
                    v-model="form.otherProperty"
                    required
                  >
                  </b-form-textarea>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row class="my-3">
              <b-col sm="6">
                <b-form-group
                  id="input-group-22"
                  label="วันลงประกาศ * : "
                  label-cols-sm="3"
                  label-for="postOpen"
                >
                  <b-form-datepicker
                    id="postOpen"
                    v-model="form.postOpen"
                    placeholder="เลือกวันที่เปิดประกาศ"
                    required
                  >
                  </b-form-datepicker>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group
                  id="input-group-23"
                  label="วันปิดประกาศ * : "
                  label-cols-sm="3"
                  label-for="postClose"
                >
                  <b-form-datepicker
                    id="postClose"
                    v-model="form.postClose"
                    placeholder="เลือกวันที่ปิดประกาศ"
                    required
                  >
                  </b-form-datepicker>
                </b-form-group>
              </b-col>
            </b-row>

            <p style="color:red;">
              <font size="5">การตั้งค่ารับใบสมัครงาน</font>
            </p>
            <p>
              <font size="4">สนใจสมัครงานตำแหน่งงานนี้กรุณาติดต่อ</font>
            </p>

            <b-row class="my-3">
              <b-col sm="4">
                <b-form-group
                  id="input-group-24"
                  label="ชื่อ : "
                  label-cols-sm="3"
                  label-for="nameAdmin"
                >
                  <b-form-input
                    id="nameAdmin"
                    size="md"
                    placeholder="ชื่อเจ้าหน้าที่"
                    v-model="nameAdmin"
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="4">
                <b-form-group
                  id="input-group-25"
                  label="เบอร์โทร : "
                  label-cols-sm="3"
                  label-for="phoneAdmin"
                >
                  <b-form-input
                    id="phoneAdmin"
                    size="md"
                    placeholder="เบอร์โทรติดต่อเจ้าหน้าที่"
                    v-model="phoneAdmin"
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>

              <b-col sm="4">
                <b-form-group
                  id="input-group-26"
                  label="อีเมล : "
                  label-cols-sm="3"
                  label-for="emailAdmin"
                >
                  <b-form-input
                    id="emailAdmin"
                    size="md"
                    placeholder="อีเมลเจ้าหน้าที่"
                    v-model="emailAdmin"
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <!-- <b-button id="cancel" type="reset" style="background-color: red;"
            >ยกเลิกข้อมูล</b-button
          > -->
            <b-container class="bv-example-row text-right">
              <router-link to="/postJob">
                <b-button
                  id="cancel"
                  type="reset"
                  class="Box"
                  style="background-color: red;"
                  >ยกเลิกข้อมูล</b-button
                ></router-link
              >
              &emsp;
              <router-link to="/postJob">
                <b-button
                  id="submit"
                  type="submit"
                  class="Box"
                  style="background-color: green;"
                  @click="handleSubmit()"
                  >บันทึกข้อมูล</b-button
                ></router-link
              >
            </b-container>
          </b-card-body>
        </form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-card>
    </b-container>
  </font>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      // test: this.$route.params.data,
      postJobList: [],
      form: {
        _id: '',
        classification: 'null',
        category: 'null',
        position: '',
        rate: 'null',
        restDay: [],
        timeIn: 'null',
        timeOut: 'null',
        otherTime: '',
        moneyStart: '',
        moneyEnd: '',
        province: 'null',
        district: 'null',
        workDetail: '',
        welfare: 'null',
        otherWelfare: '',
        gender: '',
        ageMin: '',
        ageMax: '',
        education: '',
        experience: '',
        otherProperty: '',
        postOpen: '',
        postClose: ''
      },
      classification: [
        { value: 'ธุรกิจการบิน', text: 'ธุรกิจการบิน' },
        { value: 'โทรคมนาคม', text: 'โทรคมนาคม' },
        { value: 'ท่องเที่ยว/โรงแรม', text: 'ท่องเที่ยว/โรงแรม' },
        { value: 'ธนาคาร/การเงิน', text: 'ธนาคาร/การเงิน' },
        { value: 'วิศวะกรรม', text: 'วิศวะกรรม' },
        { value: 'สถาปนิก/มัณฑนากร', text: 'สถาปนิก/มัณฑนากร' },
        { value: 'ไอที', text: 'ไอที' }
      ],
      category: [
        { value: 'งานประจำ', text: 'งานประจำ' },
        { value: 'งานนอกเวลา', text: 'งานนอกเวลา' },
        { value: 'สหกิจศึกษา', text: 'สหกิจศึกษา' },
        { value: 'นักศึกษาจบใหม่', text: 'นักศึกษาจบใหม่' }
      ],
      restDay: [
        { value: 'วันเสาร์', text: 'วันเสาร์' },
        { value: 'วันอาทิตย์', text: 'วันอาทิตย์' }
      ],
      gender: [
        { value: 'ผู้ชาย', text: 'ผู้ชาย' },
        { value: 'ผู้หญิง', text: 'ผู้หญิง' },
        { value: 'อื่นๆ', text: 'อื่นๆ' }
      ],
      age: [
        { value: 'A', text: '20-25ปี' },
        { value: 'B', text: '20-30ปี' },
        { value: 'C', text: '25-30ปี' },
        { value: 'D', text: '30-35ปี' },
        { value: 'E', text: '30-40ปี' },
        { value: 'F', text: 'ไม่จำกัดอายุ' }
      ],
      rate: [
        { value: '1', text: '1' },
        { value: '2', text: '2' },
        { value: '3', text: '3' },
        { value: '4', text: '4' },
        { value: '5', text: '5' },
        { value: '6', text: '6' },
        { value: '7', text: '7' },
        { value: '8', text: '8' },
        { value: '9', text: '9' },
        { value: '10', text: '10' },
        { value: '11', text: 'ไม่จำกัด' }
      ],
      timeIn: [
        { value: '06.00', text: '06.00' },
        { value: '07.00', text: '07.00' },
        { value: '08.00', text: '08.00' },
        { value: '09.00', text: '09.00' },
        { value: '10.00', text: '10.00' }
      ],
      timeOut: [
        { value: '16.00', text: '16.00' },
        { value: '17.00', text: '17.00' },
        { value: '18.00', text: '18.00' },
        { value: '19.00', text: '19.00' },
        { value: '20.00', text: '20.00' }
      ],
      province: [
        { value: 'กรุงเทพฯ', text: 'กรุงเทพฯ' },
        { value: 'ชลบุรี', text: 'ชลบุรี' },
        { value: 'สมุทรปราการ', text: 'สมุทรปราการ' },
        { value: 'ยโสธร', text: 'ยโสธร' }
      ],
      district: [
        { value: 'อำเภอ1', text: 'อำเภอ1' },
        { value: 'อำเภอ2', text: 'อำเภอ2' },
        { value: 'อำเภอ3', text: 'อำเภอ3' },
        { value: 'อำเภอ4', text: 'อำเภอ4' }
      ],
      welfare: [
        { value: 'ประกันสังคม', text: 'ประกันสังคม' },
        { value: 'โบนัส', text: 'โบนัส' }
      ],
      education: [
        { value: 'ต่ำกว่า ม.6', text: 'ต่ำกว่า ม.6' },
        { value: 'ม.6', text: 'ม.6' },
        { value: 'ปวช.', text: 'ปวช.' },
        { value: 'ปวส.', text: 'ปวส.' },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญญาเอก', text: 'ปริญญาเอก' }
      ],
      postOpen: 0,
      postClose: 0,
      nameAdmin: 'พรนภา',
      phoneAdmin: '090xxxxxxx',
      emailAdmin: 'example@ex.com'
    }
  },
  methods: {
    // getDaclare () {
    //   // declareService.addLatList()
    //   this.declareList = declareService.getDeclareList()
    // },
    // mounted () {
    //   console.log('Vue is mounted')
    //   this.getDaclare()
    // },
    // addNewCompany () {
    //   console.log('add new declarList')
    //   this.$bvModal.show('modal-form-declarList')
    // },
    // resetModal () {
    //   this.form = {
    //     position: '',
    //     classification: '',
    //     category: '',
    //     gender: '',
    //     age: 'null',
    //     rate: '',
    //     salary: '',
    //     time: '',
    //     notime: '',
    //     jobdescription: '',
    //     applicant: '',
    //     applicant1: '',
    //     applicant2: '',
    //     applicant3: '',
    //     applicant4: '',
    //     more: ''
    //   }
    // },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    check (id) {
      if (id !== '') {
        this.form = this.$route.params.data
      }
    },
    handleSubmit () {
      alert('handleSubmit')
      // Check validate
      // if (this.stateClassification === false) {
      //   return
      // }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/postjob/', this.form)
          .then(res => {
            console.log('data input')
            console.log(res)
            this.getPostJob()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/postjob/', this.form)
          .then(res => {
            console.log('data input')
            console.log(res)
            this.getPostJob()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      // this.$nextTick(() => {
      //   this.$bvModal.hide('modal-form-resume')
      // })
    },
    getPostJob () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/postjob')
        .then(res => {
          console.log('get ')
          console.log(res)
          console.log('get ')
          this.postJobList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {},
  mounted () {
    this.getPostJob()
    this.check(this.$route.params.data._id)
  }
}
</script>
<style>
.form form {
  width: 450px;
  margin-right: 30px;
}
#header {
  text-align: center;
  color: black;
}
#card {
  margin-top: 40px;
}
#btnregister {
  width: 440px;
  margin-top: -280px;
}
#no {
  margin-left: 800px;
}
#restDay {
  font-size: 15px;
}
#gender {
  font-size: 15px;
}
#education {
  font-size: 15px;
}
</style>
