<template>
  <div>
    <b-col id="declare" fluid>
      <router-link to="/formInput">
        <b-button variant="success" class="float-right"
          >เพิ่มประกาศ</b-button
        ></router-link
      >
      <b-table striped hover :items="postJobList" :fields="fields">
        <template v-slot:cell(ดำเนินการ)="data">
          <router-link
            :to="{ name: 'formInput', params: { data: data.item } }"
          >
            <!-- <router-link v-bind:to="'/formInput/' + data.item._id"> -->
            <b-button @click="editPostJob(data.item)"
              >Edit</b-button
            ></router-link
          >
          &nbsp;
          <b-button variant="danger" @click="delPostJob(data.item)"
            >Delete</b-button
          >
        </template>
      </b-table>
    </b-col>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      postJobList: [],
      fields: [
        {
          key: 'position',
          label: 'ตำแหน่งงาน'
        },
        {
          key: 'category',
          label: 'ประเภทงาน'
        },
        {
          key: 'postOpen',
          label: 'วันที่ลงประกาศ'
        },
        {
          key: 'postClose',
          label: 'วันที่ปิดประกาศ'
        },
        {
          key: 'rate',
          label: 'จำนวนที่รับ'
        },
        'ดำเนินการ'
      ]
    }
  },
  methods: {
    editPostJob (postJob) {
      console.log('Edit ')
      console.log(postJob)
      console.log('Edit ')
    },
    delPostJob (postJob) {
      console.log('Del ')
      console.log(postJob)
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบ ' +
            postJob.classification +
            ' ตำแหน่ง ' +
            postJob.position +
            ' หรือไม่!!!',
          {
            title: 'กรุณายืนยัน',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            axios
              .delete('http://localhost:3000/postjob/' + postJob._id)
              .then(res => {
                console.log(res)
                this.getPostJob()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.statePassword === false ||
        this.stateAddress === false ||
        this.stateEmail === false ||
        this.stateContact === false
      ) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateCompany(this.form)
        axios
          .put('http://localhost:3000/postjob', this.form)
          .then(res => {
            console.log(res)
            this.getPostJob()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/postjob', this.form)
          .then(res => {
            console.log(res)
            this.getPostJob()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-postjob')
      })
    },
    getPostJob () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/postjob')
        .then(res => {
          console.log(res)
          this.postJobList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {},
  mounted () {
    this.getPostJob()
  }
}
</script>
