<template>
  <div class="container bg-white pb-5">
    <div class="row d-flex justify-content-start align-items-center mt-sm-5">
      <div class="col-lg-10 col-15">
        <div id="circle"></div>
        <div class="pb-5">
        </div>
      </div>
      <div
        class="col-lg-20 offset-lg-5 col-md-6 offset-md-5"
        id="Containerlogin"
      >
        <button class="User" id="btnuser" @click="changeStatusPerson()">
          ผู้สมัครงาน
        </button>
        <button class="Company" id="btncompany" @click="changeStatusCompany()">
          บริษัท
        </button>
        <div class="mt-5 mt-md-7" v-if="statusLoginPerson === true">
          <h5 class="textH5" id="textheader">เข้าสู่ระบบสำหรับผู้สมัครงาน</h5>
          <form class="pt-4">
            <div class="d-flex flex-column pb-3">
              <b-form-group
                :valid-feedback="validFeedbackUser"
                :invalid-feedback="invalidFeedbackUser"
                :state="stateUser"
                ><b-form-input
                  id="text-user"
                  type="text"
                  v-model="User"
                  placeholder="ชื่อผู้ใช้"
                ></b-form-input
              ></b-form-group>
            </div>
            <div class="d-flex flex-column pb-3">
              <b-form-group
                :valid-feedback="validFeedbackPassword"
                :invalid-feedback="invalidFeedbackPassword"
                :state="statePassword"
              >
                <b-form-input
                  id="text-password"
                  type="password"
                  v-model="Password"
                  placeholder="รหัสผ่าน"
                >
                </b-form-input
              ></b-form-group>
            </div>
            <button type="button" @click="login()" class="btn btn-info btn-block mb-3">
              เข้าสู่ระบบ
            </button>
            <div class="d-flex jusity-content-end pb-4">
              <div class="ml-auto">
                <a href="#" class="text-primary text-decoration-none"
                  >ลืมรหัสผ่าน?</a
                >
              </div>
            </div>
      <div class="d-flex jusity-content-end pb-3 ">
              <div class="ml-auto">
             <router-link to="/applicant">สมัครสมาชิก</router-link>
              </div>
            </div>
            <div class="register mt-5">
            </div>
          </form>
        </div>
        <div class="mt-5 mt-md-7" v-if="statusLoginCompany === true">
          <h5 class="textH5" id="textheader">เข้าสู่ระบบสำหรับผู้ประกอบการ</h5>
          <form class="pt-4">
            <div class="d-flex flex-column pb-3">
              <b-form-group
                :valid-feedback="validFeedbackUser"
                :invalid-feedback="invalidFeedbackUser"
                :state="stateUser"
                ><b-form-input
                  id="text-user"
                  type="text"
                  v-model="User"
                  placeholder="ชื่อผู้ใช้"
                ></b-form-input
              ></b-form-group>
            </div>
            <div class="d-flex flex-column pb-3">
              <b-form-group
                :valid-feedback="validFeedbackPassword"
                :invalid-feedback="invalidFeedbackPassword"
                :state="statePassword"
              >
                <b-form-input
                  id="text-password"
                  type="password"
                  v-model="Password"
                  placeholder="รหัสผ่าน"
                >
                </b-form-input
              ></b-form-group>
            </div>
            <button type="button" class="btn btn-info btn-block mb-3">
              เข้าสู่ระบบ
            </button>
            <div class="d-flex jusity-content-end pb-4">
              <div class="ml-auto">
                <a href="#" class="text-primary text-decoration-none"
                  >ลืมรหัสผ่าน?</a
                >
              </div>
            </div>
      <div class="d-flex jusity-content-end pb-3 ">
              <div class="ml-auto">
             <router-link to="/companyapply">สมัครสมาชิก</router-link>
              </div>
            </div>
            <div class="register mt-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      User: '',
      Password: '',
      statusLoginPerson: true,
      statusLoginCompany: false
    }
  },
  methods: {
    changeStatusPerson () {
      this.statusLoginPerson = true
      if (this.statusLoginPerson === true) {
        document.getElementById('btnuser').style.backgroundColor = '#17A2B8'
        document.getElementById('btncompany').style.backgroundColor = 'white'
      }
      this.statusLoginCompany = false
    },
    changeStatusCompany () {
      this.statusLoginCompany = true
      if (this.statusLoginCompany === true) {
        document.getElementById('btncompany').style.backgroundColor = '#17A2B8'
        document.getElementById('btnuser').style.backgroundColor = 'white'
      }
      this.statusLoginPerson = false
    }
  },
  computed: {
    stateUser () {
      return this.User.length >= 10 && this.User.length <= 16
    },
    invalidFeedbackUser () {
      if (this.User.length === 0) {
        return 'กรุณากรอกชื่อผู้ใช้งาน'
      } else if (this.User.length > 16) {
        return 'กรุณากรอกชื่อผู้ใช้งานที่มีความยาวน้อยกว่าหรือเท่ากับ 16 ตัวอักษร'
      }
      return 'กรุณากรอกชื่อผู้ใช้งาน'
    },
    validFeedbackUser () {
      return this.User.length >= 10 && this.User.length <= 16 ? 'สำเร็จ' : ''
    },
    statePassword () {
      return this.Password.length >= 8 && this.Password.length <= 16
    },
    invalidFeedbackPassword () {
      if (this.Password.length === 0) {
        return 'กรุณากรอกรหัสผ่าน'
      } else if (this.Password.length > 16) {
        return 'กรุณากรอกรหัสผ่านที่มีความยาวน้อยกว่าหรือเท่ากับ 16 ตัวอักษร'
      }
      return 'กรุณากรอกรหัสผ่าน'
    },
    validFeedbackPassword () {
      return this.Password.length >= 8 && this.Password.length <= 20
        ? 'สำเร็จ'
        : ''
    }
  }
}
</script>
<style>
#Containerlogin {
  border: solid 1px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 190px;
}
h5.textH5 {
  text-align: center;
}
form.pt-4 {
  padding-left: 20px;
  padding-right: 20px;
}
.Inputname {
  border-radius: 10px;
  height: 50px;
  padding: 20px;
}
.Inputpassword {
  border-radius: 10px;
  height: 50px;
  padding: 20px;
}
button.btn.btn-info {
  font-size: 20px;
  border-radius: 10px;
}
button.btn.btn-warning {
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
button.btn.btn-danger {
  font-size: 20px;
  border-radius: 10px;
}
p.textRegister {
  text-align: center;
}
a.Colorlink {
  color: orange;
}
button.User {
  width: 50%;
  height: 40px;
  font-size: 20px;
  background-color: #17a2b8;
  border: solid 1px;
}
button.Company {
  width: 50%;
  height: 40px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border: solid 1px;
}
</style>
