<template>
  <div class="container">
    <div class="row">
      <div class="col -p4 my-4 border">
        <b-card bg-variant="light">
          <p class="h2 text-center">ค้นหางาน</p>
          <div class="border">
            <div>
              <form class="row">
                <div class="col-md-2">
                  <label class="grey-text">ตำแหน่งงาน:</label>
                </div>
                <div class="col-md-4">
                  <input
                    type="text"
                    id="findJobInputPos"
                    v-model="findJobInputPos"
                    class="form-control"
                  />
                </div>
              </form>
            </div>
            <div class="text-right">
              <b-button
                @click.prevent="searchJobByText()"
                size="sm"
                class="my-2 my-sm-0 btn-success"
                type="submit"
                >ค้นหา</b-button
              >
            </div>
          </div>
          <div>
            <b-table striped hover :items="List" :fields="fields">
              <template v-slot:cell(ดำเนินการ)="data">
                <!-- <router-link to="/jobdetails"> -->
                <b-button variant="success" @click="detail(data.item)"
                  >ดูรายละเอียด</b-button
                >
                <!-- </router-link> -->
              </template>
            </b-table>
          </div>
          <p class="text-left">แนะนำสำหรับคุณ</p>
          <div class="border">
            <div>
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="https://www.it.kmitl.ac.th/wp-content/uploads/2017/12/it-logo.png"
                    id="logoCompany"
                    width="150"
                    height="150"
                  />
                </div>
                <div class="col-md-8">
                  <h1>บริษัท หล่อเท่ ดีไซน์ จำกัด</h1>
                  <p2>ตำแหน่งงาน: กราฟฟิคดีไซน์เนอร์</p2>
                  <dl>
                    <dt>รายละเอียด</dt>
                    <dd>สถานที่ทำงาน: ชลบุรี</dd>
                    <dd>วุฒิการศึกษา: ปริญญาตรี</dd>
                    <dd>เงินเดือน: 20,000 - 35,000 บาท</dd>
                    <dd>เวลาทำงาน: 08.00 น. - 17.00 น.</dd>
                    <dd>วันหยุด: วันอาทิตย์</dd>
                  </dl>
                </div>
                <div class="col-md-2">
                  <p>เวลาที่ลง: 24/01/2021</p>
                  <p class="text-right">18.00 น.</p>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      List: [],
      searchText: '',
      fields: [
        {
          key: 'position',
          label: 'ตำแหน่งงาน'
        },
        {
          key: 'category',
          label: 'หมวดหมู่'
        },
        {
          key: 'province',
          label: 'สถานที่ทำงาน'
        },
        {
          key: 'moneyStart',
          label: 'เงินเดือนเริ่มต้น'
        },
        {
          key: 'moneyEnd',
          label: 'เงินเดือนสูงสุด'
        },
        'ดำเนินการ'
      ]
    }
  },
  methods: {
    searchJob () {
      axios
        .get('http://localhost:3000/findjob/')
        .then(res => {
          this.List = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchJobByText () {
      if (this.findJobInputPos === undefined || this.findJobInputPos === '') {
        axios
          .get('http://localhost:3000/findjob/')
          .then(res => {
            this.List = res.data
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        axios
          .get('http://localhost:3000/findjob/' + this.findJobInputPos)
          .then(res => {
            this.List = res.data
          })
          .catch(err => {
            console.log(err)
          })
      }
    },
    detail (data) {
      console.log(data)
      axios
        .get('http://localhost:3000/findjob/' + data.position)
        .then(res => {
          // this.List = res.data
          this.$router.push({ name: 'jobdetails' })
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.searchJob()
  }
}
</script>
