<template>
  <div class="container">
    <div class="row">
      <div class="col p-3 my-3 border">
        <b-card bg-variant="light">
          <div class="row">
            <div class="col-md-2">
              <b-card-img
                src="https://www.it.kmitl.ac.th/wp-content/uploads/2017/12/it-logo.png"
                id="logoCompany"
              ></b-card-img>
              เวลาลง:
              {{ list.postOpen }}
            </div>
            <div class="col-md-8">
              <h1>บริษัท</h1>
              <h2>ตำแหน่งงาน: {{ list.position }}</h2>
            </div>
            <div class="col-md-2">
              <router-link to="">
                <button
                  class="btn btn-success"
                  type="submit"
                  @click="selectResume"
                >
                  สมัครงาน
                </button>
              </router-link>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <p>รายละเอียดงาน</p>
              หมวดหมู่งาน: {{ list.classification }}<br />
              ประเภทงาน : {{ list.category }}<br />
              จำนวนที่รับ: {{ list.rate }}<br />
              สถานที่ปฏิบัติงาน: {{ list.province }}<br />
              เงินเดือน (บาท): {{ list.moneyStart }} - {{ list.moneyEnd }}<br />
              วันหยุด: {{ list.restDay }}<br />
              เวลาทำงาน: {{ list.timeIn }} น. -
              {{ list.timeOut }} น.<br /><br />
            </div>
            <div class="col-md-5">
              <p>หน้าที่รับผิดชอบ</p>
              {{ list.workDetail }}
              <br />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <p>คุณสมบัติ</p>
              เพศ: {{ list.gender }}<br />
              อายุ (ปี): {{ list.ageMin }} ปี ถึง {{ list.ageMax }} ปี<br />
              ระดับการศึกษา: {{ list.education }}<br />
              ประสบการณ์: {{ list.experience }}<br />
              <br />
            </div>
            <div class="col-md-5">
              <p>คุณสมบัติเพิ่มเติม</p>
              {{ list.otherProperty }}
              <br />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <p>สวัสดิการ</p>
              {{ list.welfare }}
              <br />
            </div>
            <div class="col-md-5">
              <p>สวัสดิการอื่นๆ</p>
              {{ list.otherWelfare }}
              <br />
            </div>
          </div>
        </b-card>
        <b-modal
          id="modal-form-resume"
          ref="modal-form-resume"
          :title="title"
          @hidden="resetModal"
          @ok="handleOk"
        >
          <b-table striped hover :items="resumeList" :fields="fields">
            <template v-slot:cell(เลือก)="data">
              <b-button variant="success" @click="showResume(data.item)"
                >เลือก</b-button
              >
              &nbsp;
            </template>
          </b-table>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<style>
p {
  color: rgb(255, 0, 0);
}
</style>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เลือก resume',
      form: {
        _id: '',
        name: '',
        password: '',
        address: '',
        email: '',
        contact: ''
      },
      resumeList: [
        { name: 'โปรแกรมเมอร์' },
        { name: 'แอร์โฮสเตส' },
        { name: 'ไอที' }
      ],
      list: {},
      fields: [
        {
          key: 'fieldofstudy',
          label: 'ชื่อเรซูเม่'
        },
        'เลือก'
      ]
    }
  },
  methods: {
    searchJob () {
      axios
        .get('http://localhost:3000/findjob/')
        .then(res => {
          this.resumeList = res.data
          this.list = this.resumeList[1]
        })
        .catch(err => {
          console.log(err)
        })
    },
    selectResume () {
      console.log('show resume')
      this.$bvModal.show('modal-form-resume')
    },
    editResumey (resume) {
      console.log('Edit ')
      console.log(resume)
      this.title = 'เลือก'
      this.form = { ...resume }
      this.$bvModal.show('modal-form-resume')
    },
    showResume (resume) {
      console.log('show ')
      console.log(resume)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการเลือกเรซูเม่ชื่อ ' + resume.fieldofstudy + ' ใช่หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            axios
              .delete('http://localhost:3000/resume/' + resume._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        password: '',
        address: '',
        email: '',
        contact: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateName === false ||
        this.statePassword === false ||
        this.stateAddress === false ||
        this.stateEmail === false ||
        this.stateContact === false
      ) {
        return
      }

      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateCompany(this.form)
        console.log(this.form)
        axios

          .put('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        console.log(this.form)
        // this.addCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/resume', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-resume')
      })
    },
    getResume () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/resume')
        .then(res => {
          console.log(res)
          this.resumeList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePassword () {
      return this.form.password.length >= 2
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 2) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่รหัสผ่าน'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 2) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 2) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่อีเมลล์'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    stateContact () {
      return this.form.contact.length >= 2
    },
    invalidFeedbackContact () {
      if (this.form.contact.length > 2) {
        return ''
      } else if (this.form.contact.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่เบอร์โทรติดต่อ'
      }
    },
    validFeedbackContact () {
      return this.stateContact === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getResume()
    this.searchJob()
  }
}
</script>
