<template>
  <div class="container">
    <div class="row">
      <div class="col p-3 my-3 border">
        <p class="h2 text-center mb-4">เรซูเม่</p>
        <!-- <b-modal id="modal-form-resume" ref="modal-form-resume"> -->
        <div id="modal-form-resume">
          <form class="row" ref="form" @submit.stop.prevent="handleSubmit">
            <div class="col-md-2">
              <b-form-group
                id="input-group-1"
                label="คำนำหน้า"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.nametitle"
                  type="text"
                  :invalid-feedback="invalidFeedbackNametitle"
                  :valid-feedback="validFeedbackNametitle"
                  :state="stateNametitle"
                  required
                  placeholder="คำนำหน้า"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-5">
              <b-form-group id="input-group-2" label="ชื่อ" label-for="input-2">
                <b-form-input
                  id="input-2"
                  v-model="form.name"
                  type="text"
                  :invalid-feedback="invalidFeedbackName"
                  :valid-feedback="validFeedbackName"
                  :state="stateName"
                  required
                  placeholder="ชื่อ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-5">
              <b-form-group
                id="input-group-3"
                label="นามสกุล"
                label-for="input-3"
              >
                <b-form-input
                  id="input-3"
                  v-model="form.surname"
                  type="text"
                  :invalid-feedback="invalidFeedbackSurName"
                  :valid-feedback="validFeedbackSurName"
                  :state="stateName"
                  required
                  placeholder="นามสกุล"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-4"
                label="วัน/เดือน/ปีเกิด"
                label-for="input-4"
              >
                <b-form-input
                  id="input-4"
                  v-model="form.birthdate"
                  type="text"
                  :invalid-feedback="invalidFeedbackBirthdate"
                  :valid-feedback="validFeedbackBirthdate"
                  :state="stateBirthdate"
                  required
                  placeholder="mm/dd/yyyy"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-5"
                label="หมายเลขบัตรประชาชน"
                label-for="input-5"
              >
                <b-form-input
                  id="input-5"
                  v-model="form.card_ID"
                  type="text"
                  :invalid-feedback="invalidFeedbackCardid"
                  :valid-feedback="validFeedbackCardid"
                  :state="stateCardID"
                  required
                  placeholder="หมายเลขบัตรประชาชน"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group id="input-group-6" label="อายุ" label-for="input-6">
                <b-form-input
                  id="input-6"
                  v-model="form.age"
                  type="text"
                  :invalid-feedback="invalidFeedbackAge"
                  :valid-feedback="validFeedbackAge"
                  :state="stateAge"
                  required
                  placeholder="อายุ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-7"
                label="ส่วนสูง"
                label-for="input-7"
              >
                <b-form-input
                  id="input-7"
                  v-model="form.height"
                  type="text"
                  :invalid-feedback="invalidFeedbackHeight"
                  :valid-feedback="validFeedbackHeight"
                  :state="stateHeight"
                  required
                  placeholder="ส่วนสูง"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-8"
                label="น้ำหนัก(กก.)"
                label-for="input-8"
              >
                <b-form-input
                  id="input-8"
                  v-model="form.weight"
                  type="text"
                  :invalid-feedback="invalidFeedbackWeight"
                  :valid-feedback="validFeedbackWeight"
                  :state="stateWeight"
                  required
                  placeholder="น้ำหนัก"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group id="input-group-9" label="เพศ" label-for="input-9">
                <b-form-input
                  id="input-2"
                  v-model="form.gender"
                  type="text"
                  :invalid-feedback="invalidFeedbackGender"
                  :valid-feedback="validFeedbackGender"
                  :state="stateGender"
                  required
                  placeholder="เพศ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-10"
                label="สถานภาพสมรส"
                label-for="input-10"
              >
                <b-form-input
                  id="input-10"
                  v-model="form.maritalstatus"
                  type="text"
                  :invalid-feedback="invalidFeedbackMaritalstatus"
                  :valid-feedback="validFeedbackMaritalstatus"
                  :state="stateMaritalstatus"
                  required
                  placeholder="สถานภาพสมรส"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-10"
                label="สัญชาติ"
                label-for="input-10"
              >
                <b-form-input
                  id="input-10"
                  v-model="form.nationality"
                  type="text"
                  :invalid-feedback="invalidFeedbackNationality"
                  :valid-feedback="validFeedbackNationality"
                  :state="stateNationality"
                  required
                  placeholder="สัญชาติ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-11"
                label="ศาสนา"
                label-for="input-11"
              >
                <b-form-input
                  id="input-11"
                  v-model="form.religion"
                  type="text"
                  :invalid-feedback="invalidFeedbackReligion"
                  :valid-feedback="validFeedbackReligion"
                  :state="stateReligion"
                  required
                  placeholder="ศาสนา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3">
              <b-form-group
                id="input-group-12"
                label="เบอร์ติดต่อ"
                label-for="input-12"
              >
                <b-form-input
                  id="input-12"
                  v-model="form.phonenumber"
                  type="text"
                  :invalid-feedback="invalidFeedbackPhoneNumber"
                  :valid-feedback="validFeedbackPhoneNumber"
                  :state="statePhoneNumber"
                  required
                  placeholder="เบอร์ติดต่อ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-8">
              <b-form-group
                id="input-group-13"
                label="ที่อยู่"
                label-for="input-13"
              >
                <b-form-textarea
                  id="input-13"
                  v-model="form.address"
                  type="text"
                  :invalid-feedback="invalidFeedbackAddress"
                  :valid-feedback="validFeedbackAddress"
                  :state="stateAddress"
                  required
                  placeholder="ที่อยู่"
                ></b-form-textarea>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-14"
                label="ประเทศ"
                label-for="input-14"
              >
                <b-form-input
                  id="input-14"
                  v-model="form.country"
                  type="text"
                  :invalid-feedback="invalidFeedbackCountry"
                  :valid-feedback="validFeedbackCountry"
                  :state="stateCountry"
                  required
                  placeholder="ประเทศ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-15"
                label="ระยะเวลาเริ่มทำงาน"
                label-for="input-15"
              >
                <b-form-input
                  id="input-15"
                  v-model="form.duration"
                  type="text"
                  :invalid-feedback="invalidFeedbackDuration"
                  :valid-feedback="validFeedbackDuration"
                  :state="stateDuration"
                  required
                  placeholder="ระยะเวลาเริ่มทำงาน"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-12">
              <b-form-group
                id="input-group-16"
                :invalid-feedback="invalidFeedbackUpcountry"
                :valid-feedback="validFeedbackUpcountry"
                :state="stateUpcountry"
                label="สามารถทำงานต่างจังหวัดได้ *"
                label-for="input-16"
              >
                <b-form-checkbox-group
                  v-model="form.work_in_provinces"
                  id="checkboxes-1"
                >
                  <b-form-checkbox value="ได้">ได้</b-form-checkbox>
                  <b-form-checkbox value="ไม่ได้">ไม่ได้</b-form-checkbox>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
            <div class="col-md-12">
              <b-form-group
                id="input-group-17"
                label="สามารถทำงานที่ต่างประเทศได้ *"
                :invalid-feedback="invalidFeedbackForeign"
                :valid-feedback="validFeedbackForeign"
                :state="stateForeign"
                label-for="input-17"
              >
                <b-form-checkbox-group
                  v-model="form.work_foreign_countries"
                  id="checkboxes-2"
                >
                  <b-form-checkbox value="ได้">ได้</b-form-checkbox>
                  <b-form-checkbox value="ไม่ได้">ไม่ได้</b-form-checkbox>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-18"
                label="สถานภาพทางทหาร *"
                :invalid-feedback="invalidFeedbackStatus"
                :valid-feedback="validFeedbackStatus"
                :state="stateStatus"
                label-for="input-18"
              >
                <b-form-radio
                  id="radio-1"
                  v-model="form.military_status"
                  :aria-describedby="ariaDescribedby"
                  required
                  placeholder="สถานภาพทางทหาร"
                  value="รอการเกณฑ์ทหาร"
                  >รอการเกณฑ์ทหาร</b-form-radio
                >
                <b-form-radio
                  id="radio-2"
                  v-model="form.military_status"
                  :aria-describedby="ariaDescribedby"
                  required
                  placeholder="สถานภาพทางทหาร"
                  value="ได้รับการยกเว้น"
                  >ได้รับการยกเว้น</b-form-radio
                >
                <b-form-radio
                  id="radio-3"
                  v-model="form.military_status"
                  :aria-describedby="ariaDescribedby"
                  required
                  placeholder="สถานภาพทางทหาร"
                  value="ผ่านการเกณฑ์ทหารแล้ว"
                  >ผ่านการเกณฑ์ทหารแล้ว</b-form-radio
                >
              </b-form-group>
            </div>
            <div class="col-md-8">
              <b-form-group
                id="input-group-19"
                label="ความพิการ *"
                :state="stateDisability"
                label-for="input-19"
              >
                <b-form-radio
                  id="radio-4"
                  v-model="form.disability"
                  :aria-describedby="ariaDescribedby"
                  required
                  placeholder=""
                  value="พิการ"
                  >พิการ</b-form-radio
                >
                <b-form-radio
                  id="radio-5"
                  v-model="form.disability"
                  required
                  :aria-describedby="ariaDescribedby"
                  placeholder=""
                  value="ไม่พิการ"
                  >ไม่พิการ</b-form-radio
                >
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-20"
                label="ยานพาหนะ *"
                :state="stateVehicles"
                label-for="input-20"
              >
                <b-form-checkbox-group v-model="form.vehicle" id="checkboxes-3">
                  <b-form-checkbox value="รถยนต์">รถยนต์</b-form-checkbox>
                  <b-form-checkbox value="รถจักรยานยนต์"
                    >รถจักรยานยนต์</b-form-checkbox
                  >
                  <b-form-checkbox value="อื่นๆ">อื่นๆ</b-form-checkbox>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-21"
                label="ใบขับขี่ *"
                :state="statelicense"
                label-for="input-21"
              >
                <b-form-checkbox-group
                  v-model="form.drives_license"
                  id="checkboxes-4"
                >
                  <b-form-checkbox value="รถยนต์">รถยนต์</b-form-checkbox>
                  <b-form-checkbox value="รถจักรยานยนต์"
                    >รถจักรยานยนต์</b-form-checkbox
                  >
                  <b-form-checkbox value="อื่นๆ">อื่นๆ</b-form-checkbox>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
            <br />
            <div class="col-md-12">
              <br />
              <h3>ประวัติการศึกษา</h3>
              <br />
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-22"
                label="ปีที่จบการศึกษา"
                :invalid-feedback="invalidFeedbackGraduation"
                :valid-feedback="validFeedbackGraduation"
                :state="stateGraduation"
                label-for="input-22"
                description="หากยังไม่จบ กรุณากรอก กำลังศึกษา "
              >
                <b-form-input
                  id="input-22"
                  v-model="form.graduation"
                  type="text"
                  required
                  placeholder="ปีที่จบการศึกษา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-23"
                label="ประเทศที่ศึกษา"
                label-for="input-23"
              >
                <b-form-input
                  id="input-23"
                  v-model="form.countryofstudy"
                  type="text"
                  :invalid-feedback="invalidFeedbackCountryofstudy"
                  :valid-feedback="validFeedbackCountryofstudy"
                  :state="stateCountryofstudy"
                  required
                  placeholder="ประเทศที่ศึกษา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-24"
                label="ระดับการศึกษา"
                label-for="input-24"
              >
                <b-form-input
                  id="input-24"
                  v-model="form.educationlevel"
                  type="text"
                  :invalid-feedback="invalidFeedbackEducationlevel"
                  :valid-feedback="validFeedbackEducationlevel"
                  :state="stateEducationlevel"
                  required
                  placeholder="ระดับการศึกษา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-12">
              <b-form-group
                id="input-group-25"
                label="สถาบันการศึกษา"
                :invalid-feedback="invalidFeedbackEducationalinstitution"
                :valid-feedback="validFeedbackEducationalinstitution"
                :state="stateEducationalinstitution"
                label-for="input-25"
                description=""
              >
                <b-form-input
                  id="input-25"
                  v-model="form.educationlinstitution"
                  type="text"
                  required
                  placeholder="สถาบันการศึกษา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-26"
                label="วุฒิการศึกษา"
                :invalid-feedback="invalidFeedbackEducational"
                :valid-feedback="validFeedbackEducational"
                :state="stateEducational"
                label-for="input-26"
                description=""
              >
                <b-form-input
                  id="input-26"
                  v-model="form.educational"
                  type="text"
                  required
                  placeholder="วุฒิการศึกษา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-27"
                label="สาขาวิชา *"
                :invalid-feedback="invalidFeedbackFieldofstudy"
                :valid-feedback="validFeedbackFieldofstudy"
                :state="stateFieldofstudy"
                label-for="input-27"
                description=""
              >
                <b-form-input
                  id="input-27"
                  v-model="form.fieldofstudy"
                  type="text"
                  required
                  placeholder="สาขาวิชา"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-28"
                label="เกรดเฉลี่ย"
                label-for="input-28"
              >
                <b-form-input
                  id="input-28"
                  v-model="form.gpa"
                  type="text"
                  :invalid-feedback="invalidFeedbackGPA"
                  :valid-feedback="validFeedbackGPA"
                  :state="stateGPA"
                  required
                  placeholder="เกรดเฉลี่ย"
                ></b-form-input>
              </b-form-group>
            </div>
            <br />
            <div class="col-md-12">
              <br />
              <h3>ประวัติการทำงาน/ฝึกงาน</h3>
              <br />
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-29"
                label="รายละเอียดงาน *"
                :invalid-feedback="invalidFeedbackDetail"
                :valid-feedback="validFeedbackDetail"
                :state="stateDetailwork"
                label-for="input-29"
                description=""
              >
                <b-form-textarea
                  id="input-29"
                  v-model="form.detailwork"
                  type="text"
                  required
                  placeholder="รายละเอียดงาน"
                ></b-form-textarea>
              </b-form-group>
            </div>
            <div class="col-md-12">
              <br />
              <h3>ทักษะเพิ่มเติม</h3>
              <br />
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-30"
                label="ทักษะเพิ่มเติมและความสามารถพิเศษ"
                :invalid-feedback="invalidFeedbackSkill"
                :valid-feedback="validFeedbackSkill"
                :state="stateSkill"
                label-for="input-30"
                description=""
              >
                <b-form-textarea
                  id="input-30"
                  v-model="form.skill"
                  type="text"
                  required
                  placeholder="ทักษะเพิ่มเติมและความสามารถพิเศษ"
                ></b-form-textarea>
              </b-form-group>
            </div>
            <div class="col-md-8"></div>

            <div class="col-md-12">
              <div class="text-center mt-4">
                <button
                  class="btn btn-success"
                  type="submit"
                  @click="onsubmit()"
                >
                  บันทึก</button
                >&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-light" type="submit" @click="clear()">
                  ยกเลิก
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{form}}</pre>
    </b-card>
    <b-table striped hover :items="resumeList" :fields="fields">
      <template v-slot:cell(ดำเนินการ)="data">
        <b-button @click="editResume(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delResume(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
//
export default {
  data () {
    return {
      form: {
        _id: '',
        nametitle: '',
        name: '',
        surname: '',
        birthdate: '',
        card_ID: '',
        age: '',
        height: '',
        weight: '',
        gender: '',
        maritalstatus: '',
        nationality: '',
        religion: '',
        phonenumber: '',
        address: '',
        country: '',
        duration: '',
        work_in_provinces: '',
        work_foreign_countries: '',
        military_status: '',
        disability: '',
        vehicle: [],
        drives_license: [],
        graduation: '',
        countryofstudy: '',
        educationlevel: '',
        educationlinstitution: '',
        educational: '',
        fieldofstudy: '',
        gpa: '',
        detailwork: '',
        skill: ''
      },
      resumeList: [],
      fields: [
        { key: 'nametitle', label: 'คำนำหน้า' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'surname', label: 'นามสกุล' },
        'ดำเนินการ'
      ]
    }
  },
  methods: {
    addNewResume () {
      console.log('Add new Resume')
      // this.$bvModal.show('modal-form-resume')
    },
    editResume (resume) {
      console.log('Edit')
      console.log(resume)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...resume }
      // this.$bvModal.show('modal-form-resume')
    },
    delResume (resume) {
      console.log('Del')
      console.log(resume)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + resume.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/resume/' + resume._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    clear () {
      this.form = {
        _id: '',
        nametitle: '',
        name: '',
        surname: '',
        birthdate: '',
        card_ID: '',
        age: '',
        height: '',
        weight: '',
        gender: '',
        maritalstatus: '',
        nationality: '',
        religion: '',
        phonenumber: '',
        address: '',
        country: '',
        duration: '',
        work_in_provinces: '',
        work_foreign_countries: '',
        military_status: '',
        disability: '',
        vehicle: [],
        drives_license: [],
        graduation: '',
        countryofstudy: '',
        educationlevel: '',
        educationlinstitution: '',
        educational: '',
        fieldofstudy: '',
        gpa: '',
        detailwork: '',
        skill: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateNametitle === false ||
        this.stateSurName === false ||
        this.stateBirthdate === false ||
        this.stateCardID === false ||
        this.stateAge === false ||
        this.stateHeight === false ||
        this.stateWeight === false ||
        this.stateGender === false ||
        this.stateMaritalstatus === false ||
        this.stateNationality === false ||
        this.stateReligion === false ||
        this.statePhoneNumber === false ||
        this.stateAddress === false ||
        this.stateCountry === false ||
        this.stateDuration === false ||
        this.stateUpcountry === false ||
        this.stateForeign === false ||
        this.stateStatus === false ||
        this.stateDisability === false ||
        this.stateVehicles === false ||
        this.statelicense === false ||
        this.stateGraduation === false ||
        this.stateCountryofstudy === false ||
        this.stateEducationlevel === false ||
        this.stateEducationalinstitution === false ||
        this.stateEducational === false ||
        this.stateFieldofstudy === false ||
        this.stateGPA === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/resume/', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/resume/', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-resume')
      })
    },
    getResume () {
      axios
        .get('http://localhost:3000/resume')
        .then(res => {
          console.log(res)
          this.resumeList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateNametitle () {
      return this.form.nametitle.length >= 2
    },
    invalidFeedbackNametitle () {
      if (this.form.nametitle.length > 2) {
        return ''
      } else if (this.form.nametitle.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackNametitle () {
      return this.stateNametitle === true ? 'สำเร็จ' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateSurName () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurName () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackSurName () {
      return this.stateSurName === true ? 'สำเร็จ' : ''
    },
    stateBirthdate () {
      return this.form.birthdate.length >= 2
    },
    invalidFeedbackBirthdate () {
      if (this.form.birthdate.length > 2) {
        return ''
      } else if (this.form.birthdate.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackBirthdate () {
      return this.stateBirthdate === true ? 'สำเร็จ' : ''
    },
    stateCardID () {
      return this.form.card_ID.length >= 2
    },
    invalidFeedbackCardid () {
      if (this.form.card_ID.length > 2) {
        return ''
      } else if (this.form.card_ID.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackCardid () {
      return this.stateCardID === true ? 'สำเร็จ' : ''
    },
    stateAge () {
      return this.form.age.length >= 2
    },
    invalidFeedbackAge () {
      if (this.form.age.length > 2) {
        return ''
      } else if (this.form.age.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateHeight () {
      return this.form.height.length >= 2
    },
    invalidFeedbackHeight () {
      if (this.form.height.length > 2) {
        return ''
      } else if (this.form.height.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackHeight () {
      return this.stateHeight === true ? 'สำเร็จ' : ''
    },
    stateWeight () {
      return this.form.weight.length >= 2
    },
    invalidFeedbackWeight () {
      if (this.form.weight.length > 2) {
        return ''
      } else if (this.form.weight.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackWeight () {
      return this.stateWeight === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender.length >= 2
    },
    invalidFeedbackGender () {
      if (this.form.gender.length > 2) {
        return ''
      } else if (this.form.gender.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateMaritalstatus () {
      return this.form.maritalstatus.length >= 2
    },
    invalidFeedbackMaritalstatus () {
      if (this.form.maritalstatus.length > 2) {
        return ''
      } else if (this.form.maritalstatus.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackMaritalstatus () {
      return this.stateMaritalstatus === true ? 'สำเร็จ' : ''
    },
    stateNationality () {
      return this.form.nationality.length >= 2
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 2) {
        return ''
      } else if (this.form.nationality.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackNationality () {
      return this.stateNationality === true ? 'สำเร็จ' : ''
    },
    stateReligion () {
      return this.form.religion.length >= 2
    },
    invalidFeedbackReligion () {
      if (this.form.religion.length > 2) {
        return ''
      } else if (this.form.religion.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackReligion () {
      return this.stateReligion === true ? 'สำเร็จ' : ''
    },
    statePhoneNumber () {
      return this.form.phonenumber.length >= 2
    },
    invalidFeedbackPhoneNumber () {
      if (this.form.phonenumber.length > 2) {
        return ''
      } else if (this.form.phonenumber.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackPhoneNumber () {
      return this.statePhoneNumber === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 2) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateCountry () {
      return this.form.country.length >= 2
    },
    invalidFeedbackCountry () {
      if (this.form.country.length > 2) {
        return ''
      } else if (this.form.country.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackCountry () {
      return this.stateCountry === true ? 'สำเร็จ' : ''
    },
    stateDuration () {
      return this.form.duration.length >= 2
    },
    invalidFeedbackDuration () {
      if (this.form.duration.length > 2) {
        return ''
      } else if (this.form.duration.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackDuration () {
      return this.stateDuration === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getResume()
  }
}
</script>
