<template>
  <div class="container">
    <div class="row">
      <div class="col p-3 my-3 border">
        <p class="h2 text-center mb-4">สมัครสมาชิกสำหรับผู้ประกอบการ</p>
        <br />
        <!-- <b-modal id="modal-form-resume" ref="modal-form-resume"> -->
          <h4>ข้อมูลส่วนตัว</h4>
          <br />
        <div id="modal-form-companyApply">
          <form class="row" ref="form" @submit.stop.prevent="handleSubmit">
            <div class="col-md-4">
              <b-form-group
                id="input-group-4"
                label="ชื่อผู้ใช้"
                label-for="input-4"
              >
                <b-form-input
                  id="input-4"
                  v-model="form.username"
                  type="text"
                  :invalid-feedback="invalidFeedbackUserName"
                  :valid-feedback="validFeedbackUserName"
                  :state="stateUserName"
                  required
                  placeholder="ชื่อผู้ใช้"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-5"
                label="รหัสผ่าน"
                label-for="input-5"
              >
                <b-form-input
                  id="input-5"
                  v-model="form.password"
                  type="password"
                  :invalid-feedback="invalidFeedbackPassword"
                  :valid-feedback="validFeedbackPassword"
                  :state="statePassword"
                  required
                  placeholder="รหัสผ่าน"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group id="input-group-6" label="ยืนยันรหัสผ่าน" label-for="input-6">
                <b-form-input
                  id="input-6"
                  v-model="form.confirm_password"
                  type="password"
                  :invalid-feedback="invalidFeedbackConfirmPass"
                  :valid-feedback="validFeedbackConfirmPass"
                  :state="stateConfirmPass"
                  required
                  placeholder="ยืนยันรหัสผ่าน"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-12">
              <br />
              <h4>ข้อมูลบริษัท</h4>
              <br />
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-22"
                label="ชื่อบริษัท"
                label-for="input-22"
              >
                <b-form-input
                 :invalid-feedback="invalidFeedbackNameCompany"
                :valid-feedback="validFeedbackNameCompany"
                :state="stateNameCompany"
                  id="input-22"
                  v-model="form.name_company"
                  type="text"
                  required
                  placeholder="ชื่อบริษัท"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-6">
              <b-form-group
                id="input-group-23"
                label="ประเภทธุรกิจ"
                label-for="input-23"
              >
                <b-form-input
                  id="input-23"
                  v-model="form.type_business"
                  type="text"
                  :invalid-feedback="invalidFeedbackTypeBusiness"
                  :valid-feedback="validFeedbackTypeBusiness"
                  :state="stateTypeBusiness"
                  required
                  placeholder="ประเภทธุรกิจ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-27"
                label="ชื่อผู้ติดต่อ"
                label-for="input-27"
                description=""
              >
                <b-form-input
                :invalid-feedback="invalidFeedbackFNameContact"
                :valid-feedback="validFeedbackNameContact"
                :state="stateNameContact"
                  id="input-27"
                  v-model="form.name_contact"
                  type="text"
                  required
                  placeholder="ชื่อผู้ติดต่อ"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-28"
                label="เบอร์โทรศัพท์"
                label-for="input-28"
              >
                <b-form-input
                  id="input-28"
                  v-model="form.tel"
                  type="text"
                  :invalid-feedback="invalidFeedbackTel"
                  :valid-feedback="validFeedbackTel"
                  :state="stateTel"
                  required
                  placeholder="เบอร์โทรศัพท์"
                ></b-form-input>
              </b-form-group>
            </div>
            <div class="col-md-4">
              <b-form-group
                id="input-group-28"
                label="อีเมล"
                label-for="input-28"
              >
                <b-form-input
                  id="input-28"
                  v-model="form.email"
                  type="text"
                  :invalid-feedback="invalidFeedbackEmail"
                  :valid-feedback="validFeedbackEmail"
                  :state="stateEmail"
                  required
                  placeholder="อีเมล"
                ></b-form-input>
              </b-form-group>
            </div>
            <br />
            <div class="col-md-6">
              <b-form-group
                id="input-group-29"
                label="ที่อยู่"
                label-for="input-29"
                description=""
              >
                <b-form-textarea
                 :invalid-feedback="invalidFeedbackAddress"
                :valid-feedback="validFeedbackAddress"
                :state="stateCompanyAddress"
                  id="input-29"
                  v-model="form.company_address"
                  type="text"
                  required
                  placeholder="ที่อยู่"
                ></b-form-textarea>
              </b-form-group>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-12">
              <div class="text-center mt-4">
                <button
                  class="btn btn-success"
                  type="submit"
                  @click="onsubmit()"
                >
                  สมัครสมาชิก</button
                >&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-light" type="submit" @click="clear()">
                  ยกเลิก
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
    <b-table striped hover :items="companyApplyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editCompanyApply(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delCompanyApply(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import axios from 'axios'
//
export default {
  data () {
    return {
      form: {
        _id: '',
        username: '',
        password: '',
        confirm_password: '',
        name_company: '',
        type_business: '',
        name_contact: '',
        company_address: '',
        tel: '',
        email: ''
      },
      companyApplyList: [],
      fields: ['username', 'email', 'password', 'Operation']
    }
  },
  methods: {
    addNewCompanyApply () {
      console.log('Add new companyApply')
      // this.$bvModal.show('modal-form-resume')
    },
    editCompanyApply (companyApply) {
      console.log('Edit')
      console.log(companyApply)
      this.title = 'แก้ไข้ผู้ใช้'
      this.form = { ...companyApply }
      // this.$bvModal.show('modal-form-resume')
    },
    delCompanyApply (companyApply) {
      console.log('Del')
      console.log(companyApply)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + companyApply.username + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/companyapply/' + companyApply._id)
              .then(res => {
                console.log(res)
                this.getCompanyApply()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    clear () {
      this.form = {
        _id: '',
        username: '',
        password: '',
        confirm_password: '',
        name_company: '',
        type_business: '',
        name_contact: '',
        company_address: '',
        tel: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateUserName === false ||
        this.statePassword === false ||
        this.stateConfirmPass === false ||
        this.stateNameCompany === false ||
        this.stateTypeBusiness === false ||
        this.stateNameContact === false ||
        this.stateCompanyAddress === false ||
        this.stateTel === false ||
        this.stateEmail === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/companyapply/', this.form)
          .then(res => {
            console.log(res)
            this.getCompanyApply()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/companyapply/', this.form)
          .then(res => {
            console.log(res)
            this.getCompanyApply()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-companyApply')
      })
    },
    getCompanyApply () {
      axios
        .get('http://localhost:3000/companyapply')
        .then(res => {
          console.log(res)
          this.companyApplyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateUserName () {
      return this.form.username.length >= 2
    },
    invalidFeedbackUserName () {
      if (this.form.username.length > 2) {
        return ''
      } else if (this.form.username.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackUserName () {
      return this.stateUserName === true ? 'สำเร็จ' : ''
    },
    statePassword () {
      return this.form.password.length >= 2
    },
    invalidFeedbackPassword () {
      if (this.form.password.length > 2) {
        return ''
      } else if (this.form.password.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackPassword () {
      return this.statePassword === true ? 'สำเร็จ' : ''
    },
    stateConfirmPass () {
      return this.form.confirm_password.length >= 2
    },
    invalidFeedbackConfirmPass () {
      if (this.form.confirm_password.length > 2) {
        return ''
      } else if (this.form.confirm_password.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackConfirmPass () {
      return this.stateConfirmPass === true ? 'สำเร็จ' : ''
    },
    stateNameCompany () {
      return this.form.name_company.length >= 2
    },
    invalidFeedbackNameCompany () {
      if (this.form.name_company.length > 2) {
        return ''
      } else if (this.form.name_company.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackNameCompany () {
      return this.stateNameCompany === true ? 'สำเร็จ' : ''
    },
    stateTypeBusiness () {
      return this.form.type_business.length >= 2
    },
    invalidFeedbackTypeBusiness () {
      if (this.form.type_business.length > 2) {
        return ''
      } else if (this.form.type_business.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackTypeBusiness () {
      return this.stateTypeBusiness === true ? 'สำเร็จ' : ''
    },
    stateNameContact () {
      return this.form.name_contact.length >= 2
    },
    invalidFeedbackNameContact () {
      if (this.form.name_contact.length > 2) {
        return ''
      } else if (this.form.name_contact.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackNameContact () {
      return this.stateNameContact === true ? 'สำเร็จ' : ''
    },
    stateTel () {
      return this.form.tel.length >= 2
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 2) {
        return ''
      } else if (this.form.tel.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'สำเร็จ' : ''
    },
    stateEmail () {
      return this.form.email.length >= 2
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 2) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? 'สำเร็จ' : ''
    },
    stateCompanyAddress () {
      return this.form.company_address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.company_address.length > 2) {
        return ''
      } else if (this.form.company_address.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackAddress () {
      return this.stateCompanyAddress === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getCompanyApply()
  }
}
</script>
