<template>
  <div>
    <b-img
      v-bind:src="require('../assets/picHome.jpg')"
      style="width: 50%; heigh:50%;
      margin-top:50px;
      margin-left:300px;"
    ></b-img>
    <br />
    <div>
      <router-link to="/findjob">
        <b-button
          id="submit"
          type="submit"
          class="Box"
          style="background-color: green;
          margin-top:50px;
          margin-left:550px;"
        >
          เข้าสู่หน้าเว็บไซต์
        </b-button>
      </router-link>
    </div>
  </div>
</template>
