<template>
  <div class="container">
    <div class="row">
      <div class="col p-3 my-3 border">
        <p class="h2 text-center mb-4">คัดเลือกผู้สมัคร</p>
        <b-table striped hover :items="resumeList" :fields="fields">
          <template v-slot:cell(ดำเนินการ)="data">
            <b-button variant="success" @click="selectResume(data.item)"
              >ผ่านเกณฑ์</b-button
            >
            &nbsp;
            <b-button variant="danger" @click="delResume(data.item)"
              >ไม่ผ่านเกณฑ์</b-button
            >
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
//
export default {
  data () {
    return {
      form: {
        _id: '',
        nametitle: '',
        name: '',
        surname: '',
        birthdate: '',
        card_ID: '',
        age: '',
        height: '',
        weight: '',
        gender: '',
        maritalstatus: '',
        nationality: '',
        religion: '',
        phonenumber: '',
        address: '',
        country: '',
        duration: '',
        work_in_provinces: '',
        work_foreign_countries: '',
        military_status: '',
        disability: '',
        vehicle: [],
        drives_license: [],
        graduation: '',
        countryofstudy: '',
        educationlevel: '',
        educationlinstitution: '',
        educational: '',
        fieldofstudy: '',
        gpa: '',
        detailwork: '',
        skill: ''
      },
      resumeList: [],
      fields: [
        { key: 'fieldofstudy', label: 'สาขาวิชา' },
        { key: 'name', label: 'ชื่อ' },
        { key: 'surname', label: 'นามสกุล' },
        'ดำเนินการ'
      ]
    }
  },
  methods: {
    addNewResume () {
      console.log('Add new Resume')
      // this.$bvModal.show('modal-form-resume')
    },
    selectResume (resume) {
      console.log('selectResume')
      console.log(resume)
      this.$bvModal.msgBoxConfirm('ท่านต้องการเลือกผู้สมัครงานนี้ใช่หรือไม่', {
        title: 'กรุณายืนยัน',
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'success',
        okTitle: 'YES',
        cancelTitle: 'NO',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true
      })
    },
    delResume (resume) {
      console.log('Del')
      console.log(resume)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบเรซูเม่ของ ' + resume.name + ' ใช่หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/resume/' + resume._id)
              .then(res => {
                console.log(res)
                this.getResume()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    clear () {
      this.form = {
        _id: '',
        nametitle: '',
        name: '',
        surname: '',
        birthdate: '',
        card_ID: '',
        age: '',
        height: '',
        weight: '',
        gender: '',
        maritalstatus: '',
        nationality: '',
        religion: '',
        phonenumber: '',
        address: '',
        country: '',
        duration: '',
        work_in_provinces: '',
        work_foreign_countries: '',
        military_status: '',
        disability: '',
        vehicle: [],
        drives_license: [],
        graduation: '',
        countryofstudy: '',
        educationlevel: '',
        educationlinstitution: '',
        educational: '',
        fieldofstudy: '',
        gpa: '',
        detailwork: '',
        skill: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateGender === false ||
        this.stateNametitle === false ||
        this.stateSurName === false ||
        this.stateBirthdate === false ||
        this.stateCardID === false ||
        this.stateAge === false ||
        this.stateHeight === false ||
        this.stateWeight === false ||
        this.stateGender === false ||
        this.stateMaritalstatus === false ||
        this.stateNationality === false ||
        this.stateReligion === false ||
        this.statePhoneNumber === false ||
        this.stateAddress === false ||
        this.stateCountry === false ||
        this.stateDuration === false ||
        this.stateUpcountry === false ||
        this.stateForeign === false ||
        this.stateStatus === false ||
        this.stateDisability === false ||
        this.stateVehicles === false ||
        this.statelicense === false ||
        this.stateGraduation === false ||
        this.stateCountryofstudy === false ||
        this.stateEducationlevel === false ||
        this.stateEducationalinstitution === false ||
        this.stateEducational === false ||
        this.stateFieldofstudy === false ||
        this.stateGPA === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        axios
          .put('http://localhost:3000/resume/', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/resume/', this.form)
          .then(res => {
            console.log(res)
            this.getResume()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-resume')
      })
    },
    getResume () {
      axios
        .get('http://localhost:3000/resume')
        .then(res => {
          console.log(res)
          this.resumeList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateNametitle () {
      return this.form.nametitle.length >= 2
    },
    invalidFeedbackNametitle () {
      if (this.form.nametitle.length > 2) {
        return ''
      } else if (this.form.nametitle.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackNametitle () {
      return this.stateNametitle === true ? 'สำเร็จ' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateSurName () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurName () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackSurName () {
      return this.stateSurName === true ? 'สำเร็จ' : ''
    },
    stateBirthdate () {
      return this.form.birthdate.length >= 2
    },
    invalidFeedbackBirthdate () {
      if (this.form.birthdate.length > 2) {
        return ''
      } else if (this.form.birthdate.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackBirthdate () {
      return this.stateBirthdate === true ? 'สำเร็จ' : ''
    },
    stateCardID () {
      return this.form.card_ID.length >= 2
    },
    invalidFeedbackCardid () {
      if (this.form.card_ID.length > 2) {
        return ''
      } else if (this.form.card_ID.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackCardid () {
      return this.stateCardID === true ? 'สำเร็จ' : ''
    },
    stateAge () {
      return this.form.age.length >= 2
    },
    invalidFeedbackAge () {
      if (this.form.age.length > 2) {
        return ''
      } else if (this.form.age.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackAge () {
      return this.stateAge === true ? 'สำเร็จ' : ''
    },
    stateHeight () {
      return this.form.height.length >= 2
    },
    invalidFeedbackHeight () {
      if (this.form.height.length > 2) {
        return ''
      } else if (this.form.height.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackHeight () {
      return this.stateHeight === true ? 'สำเร็จ' : ''
    },
    stateWeight () {
      return this.form.weight.length >= 2
    },
    invalidFeedbackWeight () {
      if (this.form.weight.length > 2) {
        return ''
      } else if (this.form.weight.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackWeight () {
      return this.stateWeight === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender.length >= 2
    },
    invalidFeedbackGender () {
      if (this.form.gender.length > 2) {
        return ''
      } else if (this.form.gender.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateMaritalstatus () {
      return this.form.maritalstatus.length >= 2
    },
    invalidFeedbackMaritalstatus () {
      if (this.form.maritalstatus.length > 2) {
        return ''
      } else if (this.form.maritalstatus.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackMaritalstatus () {
      return this.stateMaritalstatus === true ? 'สำเร็จ' : ''
    },
    stateNationality () {
      return this.form.nationality.length >= 2
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 2) {
        return ''
      } else if (this.form.nationality.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackNationality () {
      return this.stateNationality === true ? 'สำเร็จ' : ''
    },
    stateReligion () {
      return this.form.religion.length >= 2
    },
    invalidFeedbackReligion () {
      if (this.form.religion.length > 2) {
        return ''
      } else if (this.form.religion.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackReligion () {
      return this.stateReligion === true ? 'สำเร็จ' : ''
    },
    statePhoneNumber () {
      return this.form.phonenumber.length >= 2
    },
    invalidFeedbackPhoneNumber () {
      if (this.form.phonenumber.length > 2) {
        return ''
      } else if (this.form.phonenumber.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackPhoneNumber () {
      return this.statePhoneNumber === true ? 'สำเร็จ' : ''
    },
    stateAddress () {
      return this.form.address.length >= 2
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 2) {
        return ''
      } else if (this.form.address.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'สำเร็จ' : ''
    },
    stateCountry () {
      return this.form.country.length >= 2
    },
    invalidFeedbackCountry () {
      if (this.form.country.length > 2) {
        return ''
      } else if (this.form.country.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackCountry () {
      return this.stateCountry === true ? 'สำเร็จ' : ''
    },
    stateDuration () {
      return this.form.duration.length >= 2
    },
    invalidFeedbackDuration () {
      if (this.form.duration.length > 2) {
        return ''
      } else if (this.form.duration.length > 0) {
        return 'ต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกข้อมูล'
      }
    },
    validFeedbackDuration () {
      return this.stateDuration === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getResume()
  }
}
</script>
